<footer class="uk-section uk-section-small uk-text-center">
	<hr />

	<p class="uk-text-small uk-text-center">
		Copyright <%= new Date().getFullYear() %> -
		<a href="https://github.com/ElvisKemoi" target="_blank">Powered by </a>
		<a href="https://github.com/developer-austine" target="_blank">
			Obondi Group</a
		>
	</p>
</footer>
