<footer class="uk-section uk-section-small uk-text-center">
	<hr />

	<p class="uk-text-small uk-text-center">
		Copyright <%= new Date().getFullYear() %> -
		<a href="https://github.com/ElvisKemoi" target="_blank"
			>Created by Dev Elvis Kemoi </a
		>&amp;
		<a href="https://github.com/developer-austine" target="_blank"
			>Dev Ausitine Alex</a
		>
	</p>
</footer>
